#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.button__main {
  width: 25%;
  margin-bottom: 20px;
  margin-top: 20px;
}

.button__action {
  width: 40%;
}

.button__action:first-child {
  margin-right: 10px;
}
